/**
COLORs 
**/

.colorBackground_Gray{
    background-color: hsl(0,0%,50%);
}

/** 
GENERAL
**/
h1{
    text-align: center;
}
.textareaAll{
    resize: none;
}

.divInput{
}


/**
DESKTOP
**/




/**
MOBILE
**/

@media all and (orientation: portrait){
/**
PADDING
**/
    .padding10{
        padding: 1rem;
    }
/**
GENERAL
**/
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textareaAll{
        height: 10rem;
        width: 14rem;
    }
    .buttonCompare{
        height: 2rem;
        width: 14.5rem;
    }
}