/**
COLORs 
**/


/** 
GENERAL
**/
h1{
    text-align: center;
}
.textareaAll{
    resize: none;
}


/**
DESKTOP
**/




/**
MOBILE
**/

@media all and (orientation: portrait){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textareaAll{
        height: 10rem;
        width: 14rem;
    }
}