/**
COLORs 
**/

.colorBackground_Gray{
    background-color: hsl(0,0%,80%);
}
.colorBackground_White{
    background-color: hsl(0,100%,100%);
}
.colorBackground_Red{
    background-color: hsl(0, 100%, 50%);
}
/**
PADDING
MARGIN
**/
.padding0{
    padding:0;
}
.margin0{
    margin: 0;
}
/**
OTHERS
**/
.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}
/** 
GENERAL
**/

h1{
    text-align: center;
}
.textareaAll{
    resize: none;
}

.divInput{
}


/**
DESKTOP
**/




/**
MOBILE
**/

@media all and (orientation: portrait){
/**
PADDING
**/
    .padding50{
        padding: 0.5rem;
    }
/**
BORDER CIRCLE
**/
    .borderCircle100{
        border-radius: 0.4rem;
    }
/**
TEXT 
**/
    .textWidth50{
        width: 1.4rem;
    }

/**
GENERAL
**/
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
    }
    h1{
        padding: 0;
    }
    .divInput{
        display: flex;
        justify-content: center;       
        width: clamp(15rem, 80%, 30rem);
    }
        .formCompare{
            width: 90%;
        }
        .sectionFirst{
            width: 100%;
        }
        .sectionSecond{
            width: 100%;
        }
        .textareaAll{
            height: 10rem;
            width: 100%;
        }
        .sectionConfirm{
            width: 100%;
        }
        .buttonCompare{
            height: 2rem;
            width: 102%;
        }
    .divOutput{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: clamp(15rem, 80%, 30rem);
    }
        h3{
            
        }
        .sectionOutput{
            overflow: scroll;
            width: 100%;
        }
        .sectionOutput > p{
            height: 1rem;
            width: max-content;
            display: inline-block;
            width: 100%;
        }
        .pCompare > span, 
        .pOriginal > span,
        .pArrow > span{
            display: inline-block;
            text-align: center;
        }
}